# IDEA
.idea
*iml
.DS_Store

# gradle
.gradle/
build/

# log
logs/
consensus-logs/

# lombok
out/

# levelDB
gsc-data/
database*

# database
database/

# docs
docs/

# gossip
pernodedata.*
ringstate.*
shareddata.*

# protobuf generated classes
src/main/gen

src/test/java/org/gsc/wallet/onlineStress
src/test/java/org/gsc/wallet/wallettestp
src/main/java/META-INF/
src/main/resources/META-INF/
/bin/

# Eclipse IDE specific files and folders
/.project
/.classpath
/.settings/
/.apt_generated/

# output directory
output-directory/
/output_InheritanceTest/

/output_manager/
/output_witness/
output*
nodeId.properties
Wallet

# vm_trace
/vm_trace/
